# Byte-compiled / cache
__pycache__/
*.py[cod]

# Environment
.env

# Logs
logs/
*.log
# mlruns/
# IDEs
.idea/
.vscode/

# Others
.DS_Store
/Data/wal/
/Data/chunks_head/
/Data/01K29PMNXYZG9ZWDBCRWRXTW84/
/Data/01K29PMNV6XJ8VBBBFMKGDW2M2/
